# NATS Configuration
NATS_URL=nats://nats:4222

# Binance Configuration
BINANCE_WS_URL=wss://stream.testnet.binance.vision/ws/btcusdt@trade

DATABASE_URL=postgres://postgres:postgres@postgres:5432/bot_ledger?sslmode=disable

DISCORD_WEBHOOK_URL="https://discord.com/api/webhooks/your_id/your_token"
